{{ use('app/widgets/SocialList') }}

<div class="container">
    <span class="bg-nav">&nbsp;</span>
    <strong class="logo"><a href="#">{{ app.name }}</a></strong>
    <span class="closed-menu">closed-menu</span>
    {{ menu_widget({
        'options': {
            'class': '',
            'id': 'nav'
        },
        'items': getMenu('Главное меню')
    }) }}

    {{ social_list_widget() }}
</div>